<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MNIST Visualizer</title>
    <style>
        body { font-family: sans-serif; text-align: center;}
        img { margin: 5px; border: 1px solid #ccc;}
    </style>
</head>
<body>
    <h1>Visualize the numbers </h1>
    <form method="post">
        <label for="number">Enter a number (0-9):</label>
        <input type="number" id="number" name="number" min="0" max="9" required>
        <button type="submit">Visualize</button>
    </form>

    {% if selected_digit is not none %}
        <h2>Images to: {{ selected_digit }}</h2>
        {% for imng in imagens %}
            <img src="data:image/png;base64,{{ imng }}" width="56" height="56">
        {% endfor %}
    {% endif %}
</body>
</html>